.custom-box:hover{
    background-color: var(--primary-color-lighter);
}

.selected{
    background-color: var(--primary-color-lighter);
}
.hover-text-color:hover{
    color: var(--secondary-color);
    cursor: pointer;
}