<app-card>
    <card-header>Invite Members</card-header>
    <card-body>
        <div class="flex gap-4">
            <app-input 
                id="email"
                type="email" 
                placeholder="Enter email address" 
                [formControl]="emailControl"
                class="flex-1">
            </app-input>
            <button (click)="sendInvite()" class="flex items-center bg-primary-color-light py-1 px-3 border-1 border-primary-color rounded-md">Send Invite</button>
        </div>
    </card-body>
    <card-footer></card-footer>
</app-card> 