<div class="w-full py-4 px-44 flex justify-between items-center border-b-1 border-primary-color">
    <div class="font-bold text-[17px]">Taskzen</div>
    <div class="flex">
        <button type="button" (click)="login()" class="flex items-center mr-3 bg-primary-color-light py-1 px-3 border-1 border-primary-color rounded-md">Log in</button>
        <button type="button" (click)="getStarted()" class="flex items-center bg-secondary-color py-1 px-3 border-1 border-secondary-color rounded-md">Get started</button>
    </div>
</div>